<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817554984983-co4pm9od88tjkho9uradep9m8mn8rvu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817554984983-co4pm9od88tjkho9uradep9m8mn8rvu1</string>
	<key>API_KEY</key>
	<string>AIzaSyDgT9snno4rhiVog42SIxoHMIQezlRCONA</string>
	<key>GCM_SENDER_ID</key>
	<string>817554984983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.FindHackathon</string>
	<key>PROJECT_ID</key>
	<string>hackathonfind-6759f</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathonfind-6759f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817554984983:ios:c80d286b1e30b849690c52</string>
	<key>DATABASE_URL</key>
	<string>https://hackathonfind-6759f.firebaseio.com</string>
</dict>
</plist>